@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="@PasswordCheckResult">
            <CascadingValue Value="@LanguageContext">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </CascadingValue>
        </CascadingValue>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    LanguageContext LanguageContext { get; set; } = new LanguageContext();
    PasswordCheckContext PasswordCheckResult { get; set; } = new PasswordCheckContext();

	protected override void OnInitialized()
	{
        LanguageContext.LanguageChanged = async (lang) => {
            // From https://github.com/pranavkm/LocSample
            await localStorage.SetItemAsync("Language", lang);
            NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
        };
	}

}