@using WeddingImageGallery.Shared
@inject HttpClient Http
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Loc
@inject PasswordCheckContext PasswordCheckResult

<div class="login-form-wrapper">
    <form @onsubmit="@CheckPassword" class="form-inline login-form">
        <label>@Loc["Password"]:</label>
        <input type="text" @bind="@password" required class="form-control" />
        <button type="submit" class="btn btn-primary">@Loc["Submit"]</button>
            
        @if (passwordWrong) {
            <div class="alert-danger login-form-error">@Loc["PasswordWrong"]</div>
        }
    </form>        
</div>

@code {
	bool passwordCorrect;
	bool passwordWrong;
	string password;

	private async Task CheckPassword() {
		var result = await Http.GetFromJsonAsync<PasswordCheckResult>("/api/user/check-password?password=" + password);
		passwordCorrect = result.PasswordValid;
		passwordWrong = !passwordCorrect;
		if (passwordCorrect)
		{
			PasswordCheckResult.PasswordValid();
		}
	}

}
