@page "/{galleryPath}"
@using WeddingImageGallery.Shared
@inject HttpClient Http
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Loc

<div id="images-wrapper">
	<div id="images">
		@foreach (var image in images)
		{
			<div class="item">
				<a href="@image.FullUrl" data-lightbox="@GalleryPath">
					<img src="@(image.FullUrl)?width=200" alt="@image.Name">
				</a>
			</div>
		}
	</div>

	@if (hasMore)
	{
		<button class="btn btn-primary show-more" @onclick="@LoadPage">@Loc["ShowMore"]</button>
	}
</div>

@code {
	[Parameter]
	public string GalleryPath { get; set; }

	private bool hasMore = true;
	private List<ImageProperties> images = new List<ImageProperties>();

	private async Task LoadPage()
	{
		var page = await Http.GetFromJsonAsync<ImageProperties[]>("api/galleries/" + GalleryPath + "/images?skip=" + images.Count);
		images.AddRange(page);
		hasMore = page.Length >= Constants.PageSize;
	}

	protected override async Task OnInitializedAsync()
	{
		//await LoadPage();
	}

	protected override async Task OnParametersSetAsync()
	{
		images.Clear();
		await LoadPage();
	}

}
